### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
players=df["SN"].unique()
p=pd.Series(players)
p_count=p.count()
p_count
players_df=pd.DataFrame({"Players": [p_count]})
players_df

   Players
0      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items=df["Item ID"].unique()
s=pd.Series(unique_items)
s_count=s.count()
s_count
t_purchases=df["Purchase ID"].count()
t_purchases
avg_price=round(df["Price"].mean(),2)
avg_price
total_rev=df["Price"].sum()
total_rev

summary_df=pd.DataFrame({"Number of Unique Items": [s_count],
                        "Average Price": "$" + str(avg_price),
                        "Number of Purchases": [t_purchases],
                        "Total Revenue": "$" + str(total_rev)})
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
df_gender=df[["SN","Gender"]]
df_gender_2=df_gender.sort_values("SN").drop_duplicates(subset =["SN"])
df_gender_2
df_count=df_gender_2["Gender"].value_counts()
df_count
df_percent=df_gender_2["Gender"].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'
df_percent
df_merge=pd.concat([df_count,df_percent], axis=1, keys=["Total Count", "% of Players"])
df_merge

                       Total Count % of Players
Male                           484       84.03%
Female                          81       14.06%
Other / Non-Disclosed           11        1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
df_gender_3=df[["Gender","Price"]]
df_gender_3
count_sort=df_gender_3.groupby(["Gender"]).count()
count_sort_r=count_sort.rename(columns={"Price":"Purchase Count"})
count_sort_r
avg_sort=round(df_gender_3.groupby(["Gender"]).mean(),2)
avg_sort_r=avg_sort.rename(columns={"Price":"Avg Purchase Price"})
avg_sort_r
tot_sort=round(df_gender_3.groupby(["Gender"]).sum(),2)
tot_sort_r=tot_sort.rename(columns={"Price":"Tot Purchase Value"})
tot_sort_r
df_gender_2_g=df_gender_2.groupby(["Gender"]).count()
avg_pur_player=round(tot_sort_r["Tot Purchase Value"]/df_gender_2_g["SN"],2)
avg_pur_player_df=pd.DataFrame({"Avg Purchase per Player": avg_pur_player.map("${:.2f}".format)})
avg_pur_player_df

df_merge_2=pd.concat([count_sort_r,avg_sort_r,tot_sort_r,avg_pur_player_df],axis=1)

df_merge_2["Avg Purchase Price"]=df_merge_2["Avg Purchase Price"].map("${:.2f}".format)
df_merge_2["Tot Purchase Value"]=df_merge_2["Tot Purchase Value"].map("${:,.2f}".format)

df_merge_2

,Purchase Count,Avg Purchase Price,Tot Purchase Value,Avg Purchase per Player
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
df_age=df[["SN","Age"]]
df_age_sort=df_age.sort_values("SN").drop_duplicates(subset =["SN"])
#print(df_age_sort["Age"].max())
#print(df_age_sort["Age"].min())
bins=[0,9,14,19,24,29,34,39,100]
groups=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
df_age_sort["Age Group"] = pd.cut(df_age_sort["Age"], bins, labels=groups)
age_count=df_age_sort.groupby(["Age Group"]).count()
total_age_count=age_count.rename(columns={"Age":"Total Count"})
total_age_count["% of Players"]=total_age_count["Total Count"]/(p_count)
new_age_df=total_age_count[["Total Count", "% of Players"]]
new_age_df["% of Players"]=new_age_df["% of Players"].mul(100).round(2).astype(str) + '%'
new_age_df

C:\Users\djack\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

           Total Count % of Players
Age Group
<10                 17        2.95%
10-14               22        3.82%
15-19              107       18.58%
20-24              258       44.79%
25-29               77       13.37%
30-34               52        9.03%
35-39               31        5.38%
40+                 12        2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [42]:
df_age_purchase=df[["Age","Price"]]
df_age_purchase["Age Ranges"]=pd.cut(df_age_purchase["Age"], bins, labels=groups)
df_age_purchase
df_age_purchase_2=df_age_purchase[["Price","Age Ranges"]]
age_count_2=df_age_purchase_2.groupby(["Age Ranges"]).count()
age_count_r=age_count_2.rename(columns={"Price":"Purchase Count"})
age_count_r
avg_count_2=round(df_age_purchase_2.groupby(["Age Ranges"]).mean(),2)
avg_count_r=avg_count_2.rename(columns={"Price":"Avg Purchase Price"})
avg_count_r
tot_count_2=round(df_age_purchase_2.groupby(["Age Ranges"]).sum(),2)
tot_count_r=tot_count_2.rename(columns={"Price":"Total Purchase Value"})
tot_count_r
avg_pur_player_2=round(tot_count_r["Total Purchase Value"]/new_age_df["Total Count"],2)
avg_pur_player_2df=pd.DataFrame({"Avg Purchase per Player": avg_pur_player_2.map("${:.2f}".format)})
avg_pur_player_2df

df_concat=pd.concat([age_count_r,avg_count_r,tot_count_r,avg_pur_player_2df],axis=1)
df_concat["Avg Purchase Price"]=df_concat["Avg Purchase Price"].map("${:.2f}".format)
df_concat["Total Purchase Value"]=df_concat["Total Purchase Value"].map("${:,.2f}".format)

df_concat

C:\Users\djack\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Purchase per Player
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame