### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
players=df["SN"].unique()
p=pd.Series(players)
p_count=p.count()
p_count
players_df=pd.DataFrame({"Players": [p_count]})
players_df

   Players
0      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items=df["Item ID"].unique()
s=pd.Series(unique_items)
s_count=s.count()
s_count
t_purchases=df["Purchase ID"].count()
t_purchases
avg_price=round(df["Price"].mean(),2)
avg_price
total_rev=df["Price"].sum()
total_rev
summary_df=pd.DataFrame({"Number of Unique Items": [s_count],
                        "Average Price": "$" + str(avg_price),
                        "Number of Purchases": [t_purchases],
                        "Total Revenue": "$" + str(total_rev)})
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
df_gender=df[["SN","Gender"]]
df_gender_2=df_gender.sort_values("SN").drop_duplicates(subset =["SN"])
df_gender_2
df_count=df_gender_2["Gender"].value_counts()
df_count
df_percent=df_gender_2["Gender"].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'
df_percent
df_merge=pd.concat([df_count,df_percent], axis=1, keys=["Total Count", "% of Players"])
df_merge

                       Total Count % of Players
Male                           484       84.03%
Female                          81       14.06%
Other / Non-Disclosed           11        1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [91]:
df_gender_3=df[["Gender","Price"]]
df_gender_3
count_sort=df_gender_3.groupby(["Gender"]).count()
count_sort_r=count_sort.rename(columns={"Price":"Purchase Count"})
count_sort_r
avg_sort=round(df_gender_3.groupby(["Gender"]).mean(),2)
avg_sort_r=avg_sort.rename(columns={"Price":"Avg Purchase Price"})
avg_sort_r
tot_sort=round(df_gender_3.groupby(["Gender"]).sum(),2)
tot_sort_r=tot_sort.rename(columns={"Price":"Tot Purchase Value"})
tot_sort_r
df_gender_2_g=df_gender_2.groupby(["Gender"]).count()
avg_pur_player=round(tot_sort_r["Tot Purchase Value"]/df_gender_2_g["SN"],2)
avg_pur_player_df=pd.DataFrame({"Avg Purchase $ per Player": avg_pur_player})
avg_pur_player_df

df_merge_2=pd.concat([count_sort_r,avg_sort_r,tot_sort_r,avg_pur_player_df],axis=1,)
df_merge_2


#need to format with $

,Purchase Count,Avg Purchase Price,Tot Purchase Value,Avg Purchase $ per Player
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame